@import 'global';
@import 'palette';

.app-header {
    display: flex;
    height: 64px;
    background-color: whitesmoke;
    align-items: center;

    > a.menu-link {
      @include boxed;
      text-decoration: none;
      &.active {
        background-color: $gray;
        color: $white;
      }
    }

    > a img {
      height: 64px;
    }

    .right {
      display: flex;
      > * {
        margin: 15px;
      }
      .gg-profile {
        --ggs: 2;
        color: black;
        cursor: pointer;
      }
      .gg-add {
        --ggs: 2;
        color: black;
        cursor: pointer;
      }
      
      margin-left: auto;
      
    }
}
