<div class="app-header">
  <a [routerLink]="['/']">
    <img src="./assets/header-logo.png" alt="Truequepop">
  </a>
  <app-search-bar></app-search-bar>
  <a class="menu-link" routerLinkActive="active" [routerLink]="['/']" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a class="menu-link" routerLinkActive="active" [routerLink]="['/shop']">Shop</a>
  <div class="right">
    <i [routerLink]="['/user/profile/me']" class="gg-profile"></i>
    <i [routerLink]="" *ngIf="userService.isLogged()" class="gg-add" (click)="modalAdd()"></i>
  </div>
</div>