
<div *ngFor="let comment of comments" class="thread">
  <div class="comment">
    <app-user-link class="profile" [user]="comment.user"></app-user-link>
    <div>
      <div class="username">{{comment.user.username}}</div>
      <div class="text">{{comment.text}}</div>
    </div>
    
    <div class="opt">
      <div class="gg-mail-forward reply" [class.selected]="replyComment?.id == comment.id" (click)="reply(comment)"></div>
      <div class="gg-trash remove"  *ngIf="me(comment)" (click)="remove(comment)"></div>
    </div>
  </div>
  <app-comment-list (onRemove)="remove($event)" (onReply)="reply($event)" [replyComment]="replyComment" [commentReplied]="comment" *ngIf="comment.repliedComments.length" [comments]="comment.repliedComments"></app-comment-list>
</div>