<form class="form" [formGroup]="signinForm" (ngSubmit)="onSignin()">
  <div class="error center">{{ errorSignin }}</div>
  <div>
    <h1>Sign in</h1>
    <div class="error">
      <ng-container *ngIf="submited" [ngSwitch]="getError('username')">
        <ng-container *ngSwitchCase="'required'">
          Insert an email
        </ng-container>
        <ng-container *ngSwitchCase="'email'">
          Invalid email
        </ng-container>
      </ng-container>
    </div>
    <input type="text" formControlName="username" placeholder="Email or username">
    <div class="error">
      <ng-container *ngIf="submited" [ngSwitch]="getError('password')">
        <ng-container *ngSwitchCase="'required'">
          Insert a password
        </ng-container>
        <ng-container *ngSwitchCase="'minlength'">
          Password too short
        </ng-container>
      </ng-container>
    </div>
    <input type="text" formControlName="password" placeholder="Password" type="password">
    <button type="submit">Sign in</button>
    <div class="signup center">Are you logged? <a [routerLink]="['/user/access/signup/']">Sign up</a></div>
  </div>
</form>