<div class="profile-container">
  <div *ngIf="user; else notfound">
    <div>
      <img src="/api/user/pfp/{{user._id}}" alt="" id="pfp" [class.me]="me" (click)="me && profileInput.nativeElement.click()">
      <input type="file" style="display: none;" (change)="changeProfile()" #pfpInput>
      <div>
        <h1>{{user.username}}</h1>
        <hr>
        <p>Email: {{user.email}}</p>
        <p>Followers: {{user.followers}}</p>
        <button *ngIf="userService.isLogged() && userService.user._id != user._id" (click)="follow()">Follow</button>
      </div>
    </div>
    <div class="extra-info"></div>
  </div>
  
  <ng-template #notfound>
    <h1>User not found</h1>
  </ng-template>  
</div>