<div class="profile-container">
  <div *ngIf="user; else notfound">
    <div>
      <div [ngStyle]="{'background-image':'url(/api/user/pfp/'+user.id+'?v='+ver+')'}" alt="" id="pfp" [class.me]="me" (click)="me && profileInput.nativeElement.click()"></div>
      <input type="file" style="display: none;" (change)="changeProfile()" #pfpInput>
      <div>
        <button class="signout-btn" *ngIf="userService.isLogged() && userService.user?.id == user.id" (click)="signOut()">Sign out</button>
        <h1>{{user.username}}</h1>
        <hr>
        <p>Email: {{user.email}}</p>
        <p>Followers: {{user.followers}}</p>
        <p>Karma: {{user.karma.avg.toFixed(2)}} ⭐ ({{user.karma.num}} ratings)</p>
        <button *ngIf="userService.isLogged() && userService.user?.id != user.id" (click)="follow()">Follow</button>
      </div>
    </div>
    <div class="extra-info"></div>
  </div>
  
  <ng-template #notfound>
    <h1>User not found</h1>
  </ng-template>  
</div>

<div class="container" *ngIf="user">
  <h3>Favorite products</h3>
  <hr>
  <app-carousel *ngIf="favoriteProducts.length; else nofavs" [items]="favoriteProducts"></app-carousel>
  <ng-template #nofavs>
    <h5>(No favorites)</h5>
  </ng-template>
</div>
