@import 'global';

:host {
  flex-grow: 1;
}

.action-btn {
  @include boxed;
}

.signout-btn {
  float: right;
}

.fav-btn {
  &:not(.active) {
    filter: grayscale(1);
  }

  &.active {
    background-color: #bbbbbb;
    box-shadow: inset 0 0 8px red;
  }
}

.container {
  @include shadow;
  padding: 30px;
  max-width: 1024px;
  margin: 20px auto 0 auto;
  box-sizing: border-box;
}

.profile-container {
  @extend .container;
  min-height: 350px;

  #pfp {
    width: 256px;
    height: 256px;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
    margin-left: 15px;
    background-color: #ddd;
    position: relative;
    background-size: cover;
    background-position: center;

    &.me {
      
      
      &::after {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 100%;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;
      }

      &:hover::after {
        background-color: rgba(0, 0, 0, 0.555);
      }
    }

  }
  

  .extra-info {
    clear: both;
  }

  .properties {
    display: flex;
    flex-wrap: wrap;

    >div {
      flex: 0 0 50%;
      box-sizing: border-box;
      
      span:first-child {
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }

}