<p>categories works!</p>
<div class="carousel-track card">
    <div class="c-car">
        <span class="c-car-name">aasdadsad</span>
        <span class="c-car-price">asdhfhgfds</span>
    </div>
    <div class="c-car">
        <span class="c-car-name">aasdadsad</span>
        <span class="c-car-price">asdhfhgfds</span>
    </div>
    <div class="c-car">
        <span class="c-car-name">aasdadsad</span>
        <span class="c-car-price">asdhfhgfds</span>
    </div>
    <div class="c-car">
        <span class="c-car-name">aasdadsad</span>
        <span class="c-car-price">asdhfhgfds</span>
    </div>
    <div class="c-car">
        <span class="c-car-name">aasdadsad</span>
        <span class="c-car-price">asdhfhgfds</span>
    </div>
    <div class="c-car">
        <span class="c-car-name">aasdadsad</span>
        <span class="c-car-price">asdhfhgfds</span>
    </div>
    <div class="c-car">
        <span class="c-car-name">aasdadsad</span>
        <span class="c-car-price">asdhfhgfds</span>
    </div>
    <div class="c-car">
        <span class="c-car-name">aasdadsad</span>
        <span class="c-car-price">asdhfhgfds</span>
    </div>
    <div class="c-car">
        <span class="c-car-name">aasdadsad</span>
        <span class="c-car-price">asdhfhgfds</span>
    </div>
    <div class="c-car">
        <span class="c-car-name">aasdadsad</span>
        <span class="c-car-price">asdhfhgfds</span>
    </div>
    <div class="c-car">
        <span class="c-car-name">aasdadsad</span>
        <span class="c-car-price">asdhfhgfds</span>
    </div>
    <div class="c-car">
        <span class="c-car-name">aasdadsad</span>
        <span class="c-car-price">asdhfhgfds</span>
    </div>
    <div class="c-car">
        <span class="c-car-name">aasdadsad</span>
        <span class="c-car-price">asdhfhgfds</span>
    </div>
</div>
