@import 'global';

.product {
    background-color: $white;
    min-width: 250px;
    width: 300px;
    max-width: 400px;
    margin: 10px;
    height: fit-content;
    border-radius: $border-radius;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    a.disabled {
      pointer-events: none;
    }
    .image {
      height: 200px;
      background-color: rgb(206, 206, 206);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
      display: flex;
      position: relative;
      overflow: hidden;
      &.sold::after {
        filter: brightness(0.5);
      }
      &:not(.sold):hover {
        &::after {
          transform: scale(1.1);
        }
      }
      p {
        margin: auto;
      }
    }
    .info {
      padding: 20px;
      display: flex;
      flex-direction: column;
      // height: 80px;
      flex-grow: 1;
      .title {
        font-weight: bold;
      }
      .price {
        font-size: 15pt;
        font-weight: bold;
        color: rgb(255, 0, 0);
        margin-top: auto;
        .discount {
          font-size: 13pt;
          color: rgb(146, 146, 146);
          font-weight: normal;
          text-decoration: line-through;
        }
        
      }
      .actions > span {
        cursor: pointer;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .extra-info {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top: 1px dashed $gray;
        padding-top: 5px;
        margin-top: 5px;
      }
      .actions {
        margin-left: auto;
        display: flex;
      }
    }
    @include shadow;
  }