<div class="product" [routerLink]="['view', product.slug]" ngOnce> <!-- render one time -->
  <div class="image" *ngIf="product.image" [ngStyle]="{'background-image': 'url(/api/product/image/' + product.slug + ')'}"></div>
  <div class="image" *ngIf="!product.image">
    <p>No image</p>
  </div>

  <div class="info">
    <div class="title">{{ product.name }}</div>

    <div class="description">
      {{ product.description }}
    </div>
    <div class="category">
      Category: {{ catService.getCategoryPretty(product.category) }}
    </div>
    <div class="views">
      Views: {{ product.views }}
    </div>
    <div class="extra-info">
      <div>{{product.likes}}</div>
      <app-product-fav [product]="product" (click)="$event.stopPropagation()"></app-product-fav>
      <app-user-link [user]="product.owner" (click)="$event.stopPropagation()"></app-user-link>
    </div>
  </div>
</div>
