<div class="product" [routerLink]="['view', product.slug]" ngOnce> <!-- render one time -->
  <div>
    <div :style="`background-image: url(/img/car/${car.id}/1.jpg)`">
    </div>
  </div>
  <div class="info">
    <div class="title">{{ product.name }}</div>

    <div class="description">
      {{ product.description }}
    </div>
    <div class="category">
      Category: {{ catService.getCategoryPretty(product.category) }}
    </div>
    <div class="views">
      Views: {{ product.views }}
    </div>
    <div class="extra-info">
      <div>{{product.likes}}</div>
      <app-product-fav [product]="product" (click)="$event.stopPropagation()"></app-product-fav>
      <app-user-link [user]="product.owner" (click)="$event.stopPropagation()"></app-user-link>
    </div>
    <div class="actions" *ngIf="user.isAdmin()">
      <span><i class="gg-pen"></i></span>
      <span><i class="delete gg-trash"></i></span>
    </div>
  </div>
</div>
