<div class="product-container">
  <div class="top-bar">
    <a class="action-btn nolinkdec" (click)="goBack()">&lt; Back</a>
    <app-product-fav [product]="product"></app-product-fav>
    <app-product-rate [product]="product"></app-product-rate>

    <div>
      <div class="actions" *ngIf="product.owner.id == userService.user?.id">
        <!-- <span><i class="gg-pen"></i></span> -->
        <span class="delete" (click)="deleteProduct()"><i class="gg-trash"></i></span>
      </div>
      <app-user-link [user]="product.owner"></app-user-link>
    </div>
  </div>
  <div *ngIf="product.image" class="images" [ngStyle]="{'background-image': 'url(/api/product/image/' + product.slug + ')'}">
    
  </div>
  <div *ngIf="!product.image" class="images">
    <p>No image</p>
  </div>
  <h1>{{product.name}}</h1>
  <hr>
  <div class="properties">
    <div>
      <span>Quality:</span>
      <span>{{product.quality}}</span>
    </div>
    <div>
      <span>Category:</span>
      <span>{{product.category.description}}</span>
    </div>
    <div>
      <span>Creation date:</span>
      <span>{{getCreationDateString()}}</span>
    </div>
    <div>
      <span>State:</span>
      <span>{{product.state}}</span>
    </div>
    <div>
      <span>Likes:</span>
      <span>{{product.likes}}</span>
    </div>
    <div>
      <span>Views:</span>
      <span>{{product.views}}</span>
    </div>
  </div>
  <hr>
  <div>Description</div>
</div>

<shop-comments [product]="product"></shop-comments>