@import 'global';

:host {
  flex-grow: 1;
}

.action-btn {
  @include boxed;
  cursor: pointer;
}

.product-container {
  @include shadow;
  padding: 30px;
  max-width: 1024px;
  margin: 20px auto 0 auto;
  box-sizing: border-box;

  .top-bar {
    display: flex;
    align-items: center;

    >div:last-child {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    .actions {
      margin-right: 10px;

      .delete {
        cursor: pointer;
      }
    }
  }

  .images {
    height: 400px;
    background-color: #ddd;
    display: flex;
    border-radius: $border-radius;
    background-size: cover;
    background-position: center;
    
    p {
      margin: auto;
      user-select: none;
    }
  }

  .properties {
    display: flex;
    flex-wrap: wrap;

    >div {
      flex: 0 0 50%;
      box-sizing: border-box;
      
      span:first-child {
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }
}