
<div class="shadow">
  <user-logo></user-logo>
  <form class="form" [formGroup]="signinForm" (ngSubmit)="onSignin()">
    <div>
      <h1>Sign in</h1>
      <div class="error">
        <ng-container *ngIf="submited">
          <ng-container *ngIf="signinForm.get('username')?.errors">
            Email invalido
          </ng-container>
        </ng-container>
      </div>
      <input type="text" formControlName="username" placeholder="Email or username">
      <div class="error">
        <ng-container *ngIf="submited">
          <ng-container *ngIf="signinForm.get('password')?.errors?.required">
            Inserte una contraseña
          </ng-container>
          <ng-container *ngIf="signinForm.get('password')?.errors?.minlength">
            Contraseña muy corta
          </ng-container>
        </ng-container>
      </div>
      <input type="text" formControlName="password" placeholder="Password" type="password">
      <button type="submit">Signin</button>
    </div>
  </form>
</div>
