@import 'global';

:host {
  display: flex;
  width: 300px;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;

  .category {
    label {
      user-select: none;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
    }
  }
  @include shadow;
}
