<div class="product-container">
  <a class="action-btn nolinkdec" [routerLink]="['../../']">&lt; Back</a>
  <button class="action-btn nolinkdec fav-btn" [class.active]="product.isFavorited" (click)="onFavorite()">
    <i class="gg-heart">

    </i>
  </button>
  <div class="images">
    <p>images</p>
  </div>
  <h1>{{product.name}}</h1>
  <hr>
  <div class="properties">
    <div>
      <span>Quality:</span>
      <span>{{product.quality}}</span>
    </div>
    <div>
      <span>Category:</span>
      <span>{{product.category.description}}</span>
    </div>
    <div>
      <span>Creation date:</span>
      <span>{{getCreationDateString()}}</span>
    </div>
    <div>
      <span>Likes:</span>
      <span>{{product.likes}}</span>
    </div>
    <div>
      <span>Views:</span>
      <span>{{product.views}}</span>
    </div>
  </div>
  <hr>
  <div>Description</div>
</div>